<?php
#
# Generate with:
#	 openssl enc -aes-256-cfb -k "$MY_SECRET" -P -pbkdf2
# where $MY_SECRET contains your secret. 
#
$api_filter_ip = false;
$api_expiration_minutes  = 30;
$api_method = "aes-256-cfb";
$api_key = "";
$api_iv = "";
$api_salt  = "";
?>
