<?php
$sirene_base  = "https://api.insee.fr";
$sirene_tokn  = "token";
$sirene_api3  = "/api-sirene/3.11";
$sirene_cid   = "";
$sirene_key   = "";
$sirene_cert  = "cert/server.crt";
$sirene_ctype = "PEM";
$sirene_ckey  = "cert/server.key";
$sirene_cpass = "";
?>
