<?php
$user_shema      = "tech.";
$user_table      = $user_shema."user";
$role_table      = $user_shema."role";
$user_role_table = $user_shema."user_role";
$user_id         = "user_id";
$role_id         = "role_id";
?>
