<?php
#
$curl_proxy           = ""; #proxy as "host:port"
$curl_proxy_auth      = ""; #auth  as "user:passwd;
$curl_ssl_verify_peer = false;
$curl_ssl_verify_host = false;
$curl_cookie_file     = "./.cookies";
$curl_cookie_jar      = "./.cookies";
$curl_return_transfer = true;
$curl_follow_location = true;
$curl_debug           = true;
# $curl_other_options   = [ 'toto' => 'titi' ];
?>
