<?php
########################################################################
#
# Default database application configuration file
#
########################################################################
#
# Database driver (may be unset if dsn is set):
# (currently only mysql and pgsql are supported)
$db_drv = "mysql|pgsql";
#
# Database hostname (may be unset if dsn is set):
$db_host = "localhost";
#
# Database dbname (may be unset if dsn is set):
$db_name = "mydatabase";
#
# DSN wheter 
$db_dsn  = "$db_drv:host=$db_host;dbname=$db_name";
#
# Required daabase connection login:
$db_user = "mylogin" ;
#
# Required database connection passwd:
$db_pass = "mypassword";
#
#####################################################################
?>
